:root {
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --active-input-border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --input-erros-border: hsl(0, 100%, 66%);
}
form {
  width: 95%;
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 50px;
  letter-spacing: 2px;
}

label {
  color: var(--very-dark-violet);
  font-weight: 500;
  text-transform: uppercase;
}

input {
  height: 50px;
  border-radius: 7px;
  border: 1px solid var(--light-grayish-violet);
  outline: none;
  padding-left: 10px;
}

input::placeholder {
  font-weight: 500;
  color: var(--dark-grayish-violet);
}

#date-information {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
}

#date-information div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#date-information div input {
  width: 40%;
}

#cod-information {
  float: right;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  margin-top: -83px;
}

button {
  height: 60px;
  margin-top: 20px;
  background-color: var(--very-dark-violet);
  border-radius: 7px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in;
}

button:hover {
  background-color: hsl(278, 94%, 30%);
}

@media (min-width: 800px) {
  form {
    width: 50%;
    height: 100%;
    margin-top: -5%;
    margin-left: -10%;
  }
}

@media (min-width: 1000px) {
  form {
    margin-right: -60%;
    padding-right: 40px;
  }
}

@media (min-width: 1280px) {
  form {
    margin-top: 10%;
  }
}
