main {
  width: 100%;
  margin-top: 25%;
  position: absolute;
  display: grid;
  place-items: center;
}

main section {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

main section img {
  width: 65%;
  max-width: 420px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

main section img:first-child {
  margin-right: -70px;
}
main section img:last-child {
  margin-top: -75px;
  margin-left: -70px;
}

@media (min-width: 800px) {
  main {
    width: 70%;
    height: 70%;
    margin-top: 21%;
  }

  img:first-child {
    order: 2;
  }

  img:last-child {
    order: 1;
  }
}

@media (min-width: 890px) {
  main {
    width: 70%;
    height: 70%;
    margin-top: 20%;
  }
}

@media (min-width: 1000px) {
  main {
    width: 70%;
    height: 70%;
    margin-top: 18%;
  }
}

@media (min-width: 1000px) {
  main {
    width: 100%;
    height: 70%;
    margin-top: 15%;
  }
}
