main section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

main section img {
  width: 80%;
  position: absolute;
  margin-top: 40px;
}

main section img:nth-child(1) {
  margin-right: 12px;
}

main section img:nth-child(2) {
  margin-top: 139px;
  margin-right: 68px;
}

@media (min-width: 800px) {
  main section {
    align-items: start;
  }
  main section img {
    width: 30%;
    position: relative;
    margin-left: 170px;
    outline: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  main section img:nth-child(1) {
    margin-top: 340px;
    margin-left: 240px;
  }
  main section img:nth-child(2) {
    margin-top: -480px;
  }
}
