@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  background-image: url("/src/img/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 800px) {
  body {
    background-image: url("/src/img/bg-main-desktop.png");
    background-size: auto;
  }
}
